 body{font-family: "微软雅黑",Arial;font-size: 1rem;}
a{text-decoration: none;}
*{margin: 0;padding: 0;border: 0;-webkit-tap-highlight-color: rgba(0,0,0,0);outline: none;}
a:active{outline: none;} 
input:-webkit-autofill {background:none;background-image: none;color: #000;}
.header{background:#fff;color: #20233b; border-bottom: #f2f2f2 solid 1px; font-size: 18px;top: 0;left: 0; padding: 4px 0;height: 40px;line-height:40PX ; position: fixed; width: 100%; text-align: center;z-index: 99; }
.header a{color: #20233b;}
.header .pubBtn{display: inline-block;position: absolute; width: 40px; height: 48px;}
.header .goback{left: 0px; top: 0px;transform:rotate(90deg);
-ms-transform:rotate(90deg); 	/* IE 9 */
-moz-transform:rotate(90deg); 	/* Firefox */
-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
-o-transform:rotate(90deg); font-size: 22px;	/* Opera */}
.header  .newmenu{position: absolute;left: 0px; top: 0px;font-size: 24px; color: #20233b; line-height: 48px;}
.header .newLogo{width: 60px; height: 38px;  display: inline-block;margin-top: 0px; line-height: 38px;}
.header .newLogo img{width: 60px; margin-top:6px;}
.header .goback b{ text-indent: -999em;opacity: 0;font-size: 0;}
.header .navBtn{  top: -7px;right: 8px;width: 40px; font-size: 28px;padding-top: 4px;height: 50px;}
.header .navBtn div{    font-size: 12px; margin-top: -18px;}
.header .homeBtn{margin-top: 2px;display: inline-block; position: absolute;left: 40px;}
.header .homeBtn img{width: 40px; }
.header .homeBtn3 img{width: 80px; }
.header  .headNewUser{ font-size: 24px; top: 2px;right: 10px;}
.header  .headNewUser img{width: 35px;height: 35px;border-radius: 50%; display: inline-block; margin-top: 4px;}
.header .navBtn b{text-indent: -999em;opacity: 0;font-size: 0;}
.header .headbbsNav{ width: 22px;height: 22px;background: url(../img/headbbsNav.png); background-size: 100% 100%; color: #969696; position: absolute;top: 13px;left: 40px;}

 .addressmod{ padding: 49px 0 0 0;}
 .mb-ollr {
    display: -webkit-box;
    padding: 10px;
    background-color: #fff;
    border: 1px solid;
    border-top-width: 0;
    border-color: #fff #e3e3e3 #d7d7d7;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.ol-l {
    margin-right: 6px;
}
 .ol-l a {
    width: 56px;
    height: 56px;
    border: 1px #e5e5e5 solid;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
 .ol-l img {
    max-width: 50px;
    max-height: 50px;
}
 .ol-r {
    -webkit-box-flex: 1;
    font-size: 12px;
    line-height: 20px;
}
.ol-r h3 {
    font-weight: 400;
    color: #212121;
    line-height: 16px;
}
 .r-price {
    color: #999;
    line-height: 14px;
}
 .logis-info {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0 10px;
}
 .logis-info p {
    margin: 15px 0;
}
.logis-detail{ padding: 10px;}
.logis-detail ul li {
    color: #666;
    position: relative;
}
 .logis-detail ul .logis-detail-date {
    width: 40px;
    padding: 10px 0 10px 4px;
    text-align: right;
    font-size: 14px;
}
 .logis-detail ul li:first-child p.logis-detail-date {
    color: #3285ff;
}

.logis-detail ul .logis-detail-d {
    border-left: 2px solid #bdbdbd;
    padding: 10px 0 10px 35px;
    margin-left: 25px;
    position: relative;
}
.logis-detail ul li:first-child .logis-detail-first {
    border-left: 2px solid #3285ff;
}
.logis-detail ul .logis-detail-content {
    
    position: relative;
    background: #ddd;
    padding: 5px 10px;
    -webkit-border-radius: 2px;
    font-size: 14px;
}
 .logis-detail ul li:first-child .logis-detail-first .logis-detail-content {
    background: #3285ff;
    color: #fff;
}
.logis-detail ul .logis-detail-content .logis-detail-content-time {
   font-size: 12px;
    line-height: 25px; 
}
.logis-detail ul .logis-detail-content .logis-detail-content-detail {
  line-height: 25px;
} 
.logis-detail ul .logis-detail-content:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 18px;
    border-left: 10px solid #EEE;
    border-bottom: 10px solid #ddd;
}
.logis-detail ul li:first-child .logis-detail-first .logis-detail-content:after {
    border-bottom-color: #3285ff;
}
 .logis-detail ul .logis-detail-d:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: -6px;
    top: 30px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 10px;
    background: #BDBDBD;
    border: 2px solid #EEE;
}
 .logis-detail ul li:first-child .logis-detail-first:after {
    background: #3285ff;
    border: 2px solid #EEE;
}